# Examples in pandas for basic operations on dataframes

## Setup lists

In [2]:
# Setup
import pandas as pd
import numpy as np
from collections import OrderedDict

# List Comprehensions
classes = [None,'aa','bb','bb','aa','aa',None,'cc']  # include some missing strings (None values)
weights = [10 * v for v in range(len(classes))]
heights = [100 * v for v in range(len(classes))]

print("Lists:")
print(classes)
print(weights)
print(heights)

Lists:
[None, 'aa', 'bb', 'bb', 'aa', 'aa', None, 'cc']
[0, 10, 20, 30, 40, 50, 60, 70]
[0, 100, 200, 300, 400, 500, 600, 700]

##Build a dataframe from the lists

In [ ]:
di_all = {
    'class': classes,
    'weight': weights,
    'height': heights
}

df = pd.DataFrame(OrderedDict(di_all))
df

  class  weight  height
0  None       0       0
1    aa      10     100
2    bb      20     200
3    bb      30     300
4    aa      40     400
5    aa      50     500
6  None      60     600
7    cc      70     700

## Identify distinct values and add column to dataframe

In [ ]:
labels, uniques = pd.factorize(df['class'])
print("labels:", labels)
print("uniques:", uniques)
print("---")
df['label'] = labels
print(df)

('labels:', array([-1,  0,  1,  1,  0,  0, -1,  2]))
('uniques:', Index([u'aa', u'bb', u'cc'], dtype='object'))
---
  class  weight  height  label
0  None       0       0     -1
1    aa      10     100      0
2    bb      20     200      1
3    bb      30     300      1
4    aa      40     400      0
5    aa      50     500      0
6  None      60     600     -1
7    cc      70     700      2

Note that text categories are converted to unique numeric labels, None items are labeled as -1

## Filter out rows

In [ ]:
df = df[df['class'] != 'cc']
df

  class  weight  height  label
0  None       0       0     -1
1    aa      10     100      0
2    bb      20     200      1
3    bb      30     300      1
4    aa      40     400      0
5    aa      50     500      0
6  None      60     600     -1

In [ ]:
df = df[~df['class'].isnull()]  # need to use 'isnull' to filter out the special None values
df

  class  weight  height  label
1    aa      10     100      0
2    bb      20     200      1
3    bb      30     300      1
4    aa      40     400      0
5    aa      50     500      0

## Delete a column

In [ ]:
del df['class']

## Sort rows by specific columns

In [ ]:
df = df.sort_values(['label', 'height'], ascending=[True, False])  # first by label then by height 
df

   weight  height  label
5      50     500      0
4      40     400      0
1      10     100      0
3      30     300      1
2      20     200      1

## Reorder columns

In [ ]:
ORDERED_COLS= ['label', 'weight', 'height']
df = df[ORDERED_COLS]
df

   label  weight  height
5      0      50     500
4      0      40     400
1      0      10     100
3      1      30     300
2      1      20     200

## Reset dataframe index values

In [ ]:
df = df.reset_index(drop=True)
df

   label  weight  height
0      0      50     500
1      0      40     400
2      0      10     100
3      1      30     300
4      1      20     200

## Basic column info and stats

In [ ]:
df.shape

(5, 3)

In [ ]:
df.dtypes

label     int64
weight    int64
height    int64
dtype: object

In [ ]:
df.describe()

          label     weight      height
count  5.000000   5.000000    5.000000
mean   0.400000  30.000000  300.000000
std    0.547723  15.811388  158.113883
min    0.000000  10.000000  100.000000
25%    0.000000  20.000000  200.000000
50%    0.000000  30.000000  300.000000
75%    1.000000  40.000000  400.000000
max    1.000000  50.000000  500.000000

In [ ]:
df.count()

label     5
weight    5
height    5
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
label     5 non-null int64
weight    5 non-null int64
height    5 non-null int64
dtypes: int64(3)
memory usage: 192.0 bytes

## Access elements in the dataframe

### Access value at index position:

In [ ]:
df.iloc[4,1]  # [4th row, 1st col]

20

In [ ]:
df.iloc[:,:2]  # [all rows, the first two columns]

   label  weight
0      0      50
1      0      40
2      0      10
3      1      30
4      1      20

In [ ]:
df.iloc[:-1,-1]  # [all rows up to but not including the last element, the last column]

0    500
1    400
2    100
3    300
Name: height, dtype: int64

### Access value by name:

In [ ]:
df['height'].loc[4]  # note that this corresponds to the height value at index name '4'

200

## Boolean filter with multiple criteria

In [ ]:
print("Logical AND examples:")
and_filter_1 = (df['label'] == 0) & (df['weight'] > 25)
and_filter_2 = (df['label'] == 1) & (df['height'] < 250)
print(df[and_filter_1])
print("---")
print(df[and_filter_2])
print("---")

print("Logical OR example:")
or_filter = and_filter_1 | and_filter_2
print(df[or_filter])
print("---")

print("Logical NOT example:")
not_filter = ~or_filter
print(df[not_filter])

Logical AND examples:
   label  weight  height
0      0      50     500
1      0      40     400
---
   label  weight  height
4      1      20     200
---
Logical OR example:
   label  weight  height
0      0      50     500
1      0      40     400
4      1      20     200
---
Logical NOT example:
   label  weight  height
2      0      10     100
3      1      30     300